@import "tailwindcss";
@import "tw-animate-css";
@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.bg-hero {
  background-image: url('/herosection.jpg');
  position: relative;
}

.bg-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
